release/about-product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end -->
        <div class="container">
          <div class="row pt-40-lg-80 pb-30-lg-130">
            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
              <figure><img class="lazyload" data-src="images/about-product.png" alt="img"></figure>
            </div>
            <div class="col-12 col-lg-6">
              <p class="color-000000">Применение одноразового медицинского белья и одежды становится нормой. Человечество в ходе своей эволюции пришло к выводу, что самое дорогое в жизни - это здоровье и время, а одноразовая продукция сохраняет и то, и другое.</p>
              <p class="color-000000">В развитых странах применение одноразового белья и одежды в медицине обязательно. В табелях оснащения наших лечебных учреждений до недавнего времени не было подобных указаний, поскольку закупка продукции за границей требовала значительных средств.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><div class="sec-title text-left d-flex flex-column justify-content-start">
<h2 class="font-36">Преимущества нашей продукции</h2>
<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
</div>
            </div>
          </div>
          <div class="row pb-50-lg-125">
            <div class="col-12 col-md-6 mb-4">
              <div class="rare-item d-flex flex-column align-items-start"><span class="icon icon-piggy-bank"></span>
                <h2 class="title">ЭКОНОМИЯ
                </h2>
                <p>Отсутствие затрат на моющие средства, электроэнергию, амортизацию и ремонт стерилизационного оборудования и оборудования прачечных. В то же время снижение послеоперационных гнойно-септических осложнений вызывают уменьшение расходов
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
              <div class="rare-item d-flex flex-column align-items-start"><span class="icon icon-piggy-bank"></span>
                <h2 class="title">ГИГИЕНА
                </h2>
                <p>Современные ученые склоняются к тому, что лучшей профилактикой инфекционных заболеваний сегодня является одноразовая одежда и белье. Многие опасные заболевания и эпидемии были предотвращены благодаря повышению внимания в вопросах гигиены.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
              <div class="rare-item d-flex flex-column align-items-start"><span class="icon icon-piggy-bank"></span>
                <h2 class="title">ЗАЩИТА
                </h2>
                <p>Количество послеоперационных осложнений при использовании одноразового белья снижается до 30%. Кроме того одноразовая одежда защитит медицинский персонал от заражения всякого рода инфекциями (СПИД, гепатит и т.д.).
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
              <div class="rare-item d-flex flex-column align-items-start"><span class="icon icon-piggy-bank"></span>
                <h2 class="title">ИМИДЖ
                </h2>
                <p>Использование одноразовой медицинской продукции позволит улучшить имидж Вашего лечебного учреждения, поможет завоевать доверие клиентов, так как применение одноразовых расходных материалов - это показатель гигиены, чистоты и безопасности для Ваших пациентов!
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><div class="sec-title text-left d-flex flex-column justify-content-start">
<h2 class="font-36">Функциональные элементы</h2>
<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
</div>
            </div>
          </div>
          <div class="row pb-50-lg-100">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item1.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ЭЛАСТИЧНОЕ ОТВЕРСТИЕ
                  </h2>
                  <p class="description">Используется при операции на конечностях. Обеспечивает возможность изменения операционного доступа.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item2.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">НАПРАВЛЕНИЕ РАСКЛАДКИ
                  </h2>
                  <p class="description">Специальные информационные стикеры облегчают процесс раскладывания белья.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item3.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ЛИПКИЙ КРАЙ
                  </h2>
                  <p class="description">Адгезив, тонко нанесённый на материал, покрытый силиконизированной бумагой.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item4.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">СБОРНЫЙ КАРМАН С ФИКСАТОРОМ
                  </h2>
                  <p class="description">Встроенный фиксатор обеспечивает возможность придавать форму сборному карману.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item5.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">СБОРНЫЙ КАРМАН С ОТВОДОМ
                  </h2>
                  <p class="description">Встроен в операционные простыни для сбора жидкости, имеет отвод.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item6.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ФИЛЬТРУЮЩАЯ СЕТКА
                  </h2>
                  <p class="description">Встроена в сборный карман с отводом для улавливания препаратов для дальнейших исследований.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item7.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ВПИТЫВАЮЩАЯ ЗОНА
                  </h2>
                  <p class="description">Простыни со специальным усилением в зонах, требующих максимальную впитываемости.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item8.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">САМОРАСКРЫВАЮЩАЯСЯ УПАКОВКА
                  </h2>
                  <p class="description">Возможность вскрытия упаковки без дополнительных режущих инструментов и без нарушения стерильности.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item9.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ОПЕРАЦИОННАЯ ПЛЕНКА
                  </h2>
                  <p class="description">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item10.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ЯРЛЫЧОК НА ХАЛАТЕ
                  </h2>
                  <p class="description">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item11.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">ЛИПУЧКА ДЛЯ РЕГУЛИРОВАНИЯ ГОРЛОВИНЫ ХАЛАТА
                  </h2>
                  <p class="description">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3">
              <div class="func-el-item">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/about-product-item12.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">МОЛНИЯ С ПЛАНКОЙ
                  </h2>
                  <p class="description">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"><div class="sec-title text-left d-flex flex-column justify-content-start">
<h2 class="font-36">Инструкции</h2>
<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
</div>
            </div>
          </div>
          <div class="row pb-100">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="func-el-item func-el-item_instruction d-flex align-items-center">
                <div class="preview d-flex align-items-center justify-content-center"><img class="lazyload img-fluid" data-src="images/instruction.png" alt="img"></div>
                <div class="content">
                  <h2 class="title">Комплект операционного белья Кардио-васкулярного №3 Премиум</h2><a class="link d-flex align-items-center" href="#" download><img class="lazyload" data-src="images/surface1.svg" alt="img"><span>Скачать инструкцию</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/about-product.pug
extends base.pug
block content
	include components/breadcrums.pug

	div(class="container")
		div(class="row pt-40-lg-80 pb-30-lg-130")
			div(class="col-12 col-lg-6 pb-4 pb-lg-0")
				figure
					img(class="lazyload" data-src="images/about-product.png" alt="img")
			div(class="col-12 col-lg-6")
				p(class="color-000000")
					| Применение одноразового медицинского белья и одежды становится нормой. Человечество в ходе своей эволюции пришло к выводу, что самое дорогое в жизни - это здоровье и время, а одноразовая продукция сохраняет и то, и другое.
				p(class="color-000000")
					| В развитых странах применение одноразового белья и одежды в медицине обязательно. В табелях оснащения наших лечебных учреждений до недавнего времени не было подобных указаний, поскольку закупка продукции за границей требовала значительных средств.
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Преимущества нашей продукции</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-50-lg-125")
			-arDesc = ["Отсутствие затрат на моющие средства, электроэнергию, амортизацию и ремонт стерилизационного оборудования и оборудования прачечных. В то же время снижение послеоперационных гнойно-септических осложнений вызывают уменьшение расходов", "Современные ученые склоняются к тому, что лучшей профилактикой инфекционных заболеваний сегодня является одноразовая одежда и белье. Многие опасные заболевания и эпидемии были предотвращены благодаря повышению внимания в вопросах гигиены.", "Количество послеоперационных осложнений при использовании одноразового белья снижается до 30%. Кроме того одноразовая одежда защитит медицинский персонал от заражения всякого рода инфекциями (СПИД, гепатит и т.д.).", "Использование одноразовой медицинской продукции позволит улучшить имидж Вашего лечебного учреждения, поможет завоевать доверие клиентов, так как применение одноразовых расходных материалов - это показатель гигиены, чистоты и безопасности для Ваших пациентов!"]
			each item, index in ["ЭКОНОМИЯ", "ГИГИЕНА", "ЗАЩИТА", "ИМИДЖ"]
				div(class="col-12 col-md-6 mb-4")
					div(class="rare-item d-flex flex-column align-items-start")
						span(class="icon icon-piggy-bank")
						h2(class="title")
							= item
						p()
							= arDesc[index]
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Функциональные элементы</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-50-lg-100")
			-arImg = ["images/about-product-item1.png", "images/about-product-item2.png", "images/about-product-item3.png", "images/about-product-item4.png", "images/about-product-item5.png", "images/about-product-item6.png", "images/about-product-item7.png", "images/about-product-item8.png", "images/about-product-item9.png", "images/about-product-item10.png", "images/about-product-item11.png", "images/about-product-item12.png"]
			-arDesc = ["Используется при операции на конечностях. Обеспечивает возможность изменения операционного доступа.", "Специальные информационные стикеры облегчают процесс раскладывания белья.", "Адгезив, тонко нанесённый на материал, покрытый силиконизированной бумагой.", "Встроенный фиксатор обеспечивает возможность придавать форму сборному карману.", "Встроен в операционные простыни для сбора жидкости, имеет отвод.", "Встроена в сборный карман с отводом для улавливания препаратов для дальнейших исследований.", "Простыни со специальным усилением в зонах, требующих максимальную впитываемости.", "Возможность вскрытия упаковки без дополнительных режущих инструментов и без нарушения стерильности.", "", "", "", ""]
			each item, index in ["ЭЛАСТИЧНОЕ ОТВЕРСТИЕ", "НАПРАВЛЕНИЕ РАСКЛАДКИ", "ЛИПКИЙ КРАЙ", "СБОРНЫЙ КАРМАН С ФИКСАТОРОМ", "СБОРНЫЙ КАРМАН С ОТВОДОМ", "ФИЛЬТРУЮЩАЯ СЕТКА", "ВПИТЫВАЮЩАЯ ЗОНА", "САМОРАСКРЫВАЮЩАЯСЯ УПАКОВКА", "ОПЕРАЦИОННАЯ ПЛЕНКА", "ЯРЛЫЧОК НА ХАЛАТЕ", "ЛИПУЧКА ДЛЯ РЕГУЛИРОВАНИЯ ГОРЛОВИНЫ ХАЛАТА", "МОЛНИЯ С ПЛАНКОЙ"]
				div(class="col-12 col-md-4 col-lg-4 col-xl-3")
					div(class="func-el-item")
						div(class="preview d-flex align-items-center justify-content-center")
							img(class="lazyload img-fluid" data-src=arImg[index] alt="img")
						div(class="content")
							h2(class="title")
								= item
							p(class="description")
								= arDesc[index]
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Инструкции</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-100")
			-for(let i = 0; i < 6; i++)
				div(class="col-12 col-md-6 col-lg-4")
					div(class="func-el-item func-el-item_instruction d-flex align-items-center")
						div(class="preview d-flex align-items-center justify-content-center")
							img(class="lazyload img-fluid" data-src="images/instruction.png" alt="img")
						div(class="content")
							h2(class="title")
								| Комплект операционного белья Кардио-васкулярного №3 Премиум
							a(class="link d-flex align-items-center" href="#" download)
								img(class="lazyload" data-src="images/surface1.svg" alt="img")
								span
									| Скачать инструкцию
