release/base.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content">
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/base.pug
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title Медицина Айрлайд		
	body
		div(class="boxed_wrapper")
			include components/preloader-area.pug
			<!-- search-popup -->
			<div id="search-popup" class="search-popup">
				<div class="close-search">
					| +
				</div>
				<div class="popup-inner">
					<div class="overlay-layer"></div>
					<div class="search-form">
						<form method="post" action="#">
							<div class="form-group">
								<fieldset>
									<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
									<input type="submit" value="Искать" class="theme-btn style-four">
								</fieldset>
							</div>
						</form>
						<h3>Последние поисковые ключевые слова</h3>
						<ul class="recent-searches">
							<li><a href="#">Финансы</a></li>
							<li><a href="#">Идеи</a></li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">План</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- search-popup end -->
			include components/header-area.pug
			include components/header-mobile-area.pug
			div(class="content")
				block content
			include components/modal-area.pug
			include components/btn-to-top.pug
			include components/footer-area.pug
		script(src="js/main.min.js")
