release/cart.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end --><!-- cart section -->
<section class="cart-section cart-page">
<div class="auto-container">
<div class="row">
<div class="col-12">
        <div class="cart-item cart-item__header d-none d-lg-block">
          <div class="row">
            <div class="col-12 col-lg-4 color-000000 font-18 font-ibm pl-5"><b>Наименование</b></div>
            <div class="col-12 col-lg-4 color-000000 font-18 font-ibm"><b>Параметры</b></div>
            <div class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-end"><b>Количество</b></div>
          </div>
        </div>
        <div class="cart-item">
          <form class="row" action="" method="">
            <div class="col-12 col-lg-4 pb-3 pb-lg-0">
              <div class="cart-item__preview"><a class="color-000000 font-18 font-ibm" href="#"><img class="lazyload" data-src="images/cart.png" alt="img"><span>Простыня</span></a></div>
            </div>
            <div class="col-12 col-lg-4 pb-3 pb-lg-0">
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Размер:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">700*700</option>
                    <option value="2">700*700</option>
                    <option value="2">700*700</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Тип:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">ламинированные</option>
                    <option value="2">ламинированные</option>
                    <option value="2">ламинированные</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Стерильность:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">стерильные</option>
                    <option value="2">стерильные</option>
                    <option value="2">стерильные</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Упаковка:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">50шт./уп.</option>
                    <option value="2">50шт./уп.</option>
                    <option value="2">50шт./уп.</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-center justify-content-end">
              <div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
                <button class="picker-number__button picker-number__button_dec" type="button">-</button>
                <input class="picker-number__input" type="number" value="1" step="1">
                <button class="picker-number__button picker-number__button_inc" type="button">+</button>
              </div>
            </div>
          </form>
        </div>
        <div class="cart-item">
          <form class="row" action="" method="">
            <div class="col-12 col-lg-4 pb-3 pb-lg-0">
              <div class="cart-item__preview"><a class="color-000000 font-18 font-ibm" href="#"><img class="lazyload" data-src="images/cart.png" alt="img"><span>Простыня</span></a></div>
            </div>
            <div class="col-12 col-lg-4 pb-3 pb-lg-0">
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Размер:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">700*700</option>
                    <option value="2">700*700</option>
                    <option value="2">700*700</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Тип:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">ламинированные</option>
                    <option value="2">ламинированные</option>
                    <option value="2">ламинированные</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center pb-3">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Стерильность:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">стерильные</option>
                    <option value="2">стерильные</option>
                    <option value="2">стерильные</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4"><span class="color-000000 font-14 font-ibm"><b>Упаковка:</b></span></div>
                <div class="col-8 d-flex justify-content-end">
                  <select class="nice-select">
                    <option value="1">50шт./уп.</option>
                    <option value="2">50шт./уп.</option>
                    <option value="2">50шт./уп.</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-center justify-content-end">
              <div class="picker-number picker-number_type-2 picker-number_type-2_hover-1">
                <button class="picker-number__button picker-number__button_dec" type="button">-</button>
                <input class="picker-number__input" type="number" value="1" step="1">
                <button class="picker-number__button picker-number__button_inc" type="button">+</button>
              </div>
            </div>
          </form>
        </div></div>
</div>
</div>
</section>
<!-- cart section end -->
<!-- contact-section -->
<section class="contact-section pt-0">
<div class="auto-container">
<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
<div class="sec-title">
<h2 class="font-36 mb-4 pb-2">Оформить заявку</h2>
</div>
<div class="form-inner">
<form method="post" action="#" id="contact-form" class="default-form">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="text" name="username" placeholder="Ваше имя" required>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="text" name="phone" placeholder="Телефон" required>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="text" name="orgname" placeholder="Организация" required>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="email" name="email" placeholder="E-mail" required>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-end">
        <button class="theme-btn-one theme-btn-one_main justify-content-center" type="submit">Отправить<i class="icon-arrow-angl-right"></i></button></div>
</div>
</form>
</div>
</div>
</div>
</section>
<!-- contact-section end -->
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/cart.pug
extends base.pug
block content
	include components/breadcrums.pug
	<!-- cart section -->
	<section class="cart-section cart-page">
		<div class="auto-container">
			<div class="row">
				<div class="col-12">
					div(class="cart-item cart-item__header d-none d-lg-block")
						div(class="row")
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pl-5")
								b()
									| Наименование
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm")
								b()
									| Параметры
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-end")
								b()
									| Количество
					-for(let i = 0; i < 2; i++)
						div(class="cart-item")
							form(class="row" action="" method="")
								div(class="col-12 col-lg-4 pb-3 pb-lg-0")
									div(class="cart-item__preview")
										a(href="#" class="color-000000 font-18 font-ibm")
											img(class="lazyload" data-src="images/cart.png" alt="img")
											span
												| Простыня
								div(class="col-12 col-lg-4 pb-3 pb-lg-0")
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Размер:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| 700*700
												option(value="2")
													| 700*700
												option(value="2")
													| 700*700
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Тип:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| ламинированные
												option(value="2")
													| ламинированные
												option(value="2")
													| ламинированные
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Стерильность:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| стерильные
												option(value="2")
													| стерильные
												option(value="2")
													| стерильные
									div(class="row align-items-center")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Упаковка:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| 50шт./уп.
												option(value="2")
													| 50шт./уп.
												option(value="2")
													| 50шт./уп.
								div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-center justify-content-end")
									- elementClassList = ["picker-number_type-2", "picker-number_type-2_hover-1"]
									div(class=['picker-number'] class=elementClassList)
										button(class="picker-number__button picker-number__button_dec" type="button") -
										if(maxValue)
											input(class="picker-number__input" type="number" value="1" step="1")
										else 
											input(class="picker-number__input" type="number" value="1" step="1")
										button(class="picker-number__button picker-number__button_inc" type="button") +
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- contact-section -->
	<section class="contact-section pt-0">
		<div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="sec-title">
					<h2 class="font-36 mb-4 pb-2">Оформить заявку</h2>
				</div>
				<div class="form-inner">
					<form method="post" action="#" id="contact-form" class="default-form">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="username" placeholder="Ваше имя" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Телефон" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="orgname" placeholder="Организация" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="email" name="email" placeholder="E-mail" required>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-end">
								button(type="submit" class="theme-btn-one theme-btn-one_main justify-content-center")
									| Отправить
									i(class="icon-arrow-angl-right")
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-section end -->
