release/category-catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end -->
        <div class="pt-90 pb-45-lg-175">
          <div class="container">
            <div class="category-catalog-item">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cattegory-catalog-item1.png" alt="img"></a></div>
                <div class="col-12 col-sm-6 col-lg-9">
                  <div class="category-catalog-item-info">
                    <h2 class="title">Простыни</h2>
                    <div class="content">
                      <p>Доступны любые размеры, возможно наличие технологических особенностей таких как:</p>
                      <ul>
                        <li>- различные отверстия;
                        </li>
                        <li>- U-образный вырез;
                        </li>
                        <li>- адгезивный край;
                        </li>
                        <li>- прозрачные вставки;
                        </li>
                      </ul>
                      <p>а также, дополнительных элементов (карман, отвод, чехол для шнура).</p>
                    </div>
                    <div class="options d-flex flex-wrap align-items-center">
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-1"></div><span class="text">СМС</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-2"></div><span class="text">Спанбонд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-3"></div><span class="text">Ламинированный спанбонд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-4"></div><span class="text">Акваспан</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-5"></div><span class="text">Медикейс</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-6"></div><span class="text">Айрлайд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-7"></div><span class="text">Ламинированный айрлайд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-8"></div><span class="text">Айрлайд с трансферным слоем</span>
                      </div>
                    </div>
                  </div>
                  <div class="pt-5"><a class="theme-btn-one theme-btn-one_main" href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="category-catalog-item">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cattegory-catalog-item2.png" alt="img"></a></div>
                <div class="col-12 col-sm-6 col-lg-9">
                  <div class="category-catalog-item-info">
                    <h2 class="title">Салфетки впитывающие</h2>
                    <div class="content">
                      <p>Доступны размеры 330*330, 500*500, 700*500. Белые и цветные.</p>
                    </div>
                    <div class="options d-flex flex-wrap align-items-center">
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-6"></div><span class="text">Айрлайд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-8"></div><span class="text">Айрлайд с трансферным слоем</span>
                      </div>
                    </div>
                  </div>
                  <div class="pt-5"><a class="theme-btn-one theme-btn-one_main" href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="category-catalog-item">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cattegory-catalog-item3.png" alt="img"></a></div>
                <div class="col-12 col-sm-6 col-lg-9">
                  <div class="category-catalog-item-info">
                    <h2 class="title">Пеленка ламинированная впитывающая 700*500</h2>
                    <div class="content">
                      <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития.</p>
                    </div>
                    <div class="options d-flex flex-wrap align-items-center">
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-3"></div><span class="text">Ламинированный спанбонд</span>
                      </div>
                    </div>
                  </div>
                  <div class="pt-5"><a class="theme-btn-one theme-btn-one_main" href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="category-catalog-item">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0"><a class="preview" href="#"><img class="lazyload w-100" data-src="images/cattegory-catalog-item4.png" alt="img"></a></div>
                <div class="col-12 col-sm-6 col-lg-9">
                  <div class="category-catalog-item-info">
                    <h2 class="title">Наволочки</h2>
                    <div class="content">
                      <p class="description">Размеры 600*600, 700*700 мм.</p>
                    </div>
                    <div class="options d-flex flex-wrap align-items-center">
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-1"></div><span class="text">СМС</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-2"></div><span class="text">Спанбонд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-3"></div><span class="text">Ламинированный спанбонд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-4"></div><span class="text">Акваспан</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-5"></div><span class="text">Медикейс</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-6"></div><span class="text">Айрлайд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-7"></div><span class="text">Ламинированный айрлайд</span>
                      </div>
                      <div class="options-item d-flex align-items-center">
                        <div class="type type-8"></div><span class="text">Айрлайд с трансферным слоем</span>
                      </div>
                    </div>
                  </div>
                  <div class="pt-5"><a class="theme-btn-one theme-btn-one_main" href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- chooseus-section -->
<section class="chooseus-section mb-30-lg-160">
<div class="outer-container clearfix">
<div class="content-column">
<div class="inner-column">
<div class="content-box">
<div class="sec-title style-two">
<h2>Преимущества продукции</h2>
<p>Качество продукции для нас превыше всего</p>
<span class="separator" style="background-image: url(images/line.svg);"></span>
</div>
<div class="inner-box">
<div class="row clearfix">
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-column" style="background-image: url(images/about-section.jpg);"></div>
</div>
</section>
<!-- chooseus-section end -->
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/category-catalog.pug
extends base.pug
block content
	include components/breadcrums.pug
	div(class="pt-90 pb-45-lg-175")
		div(class="container")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item1.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Простыни
							div(class="content")
								p
									| Доступны любые размеры, возможно наличие технологических особенностей таких как:
								ul
									each item in ["- различные отверстия;", "- U-образный вырез;", "- адгезивный край;", "- прозрачные вставки;"]
										li
											= item
								p
									| а также, дополнительных элементов (карман, отвод, чехол для шнура).
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-1")
									span(class="text")
										| СМС
								div(class="options-item d-flex align-items-center")
									div(class="type type-2")
									span(class="text")
										| Спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-4")
									span(class="text")
										| Акваспан
								div(class="options-item d-flex align-items-center")
									div(class="type type-5")
									span(class="text")
										| Медикейс
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-7")
									span(class="text")
										| Ламинированный айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item2.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Салфетки впитывающие
							div(class="content")
								p
									| Доступны размеры 330*330, 500*500, 700*500. Белые и цветные.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item3.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Пеленка ламинированная впитывающая 700*500
							div(class="content")
								p
									| Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item4.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Наволочки
							div(class="content")
								p(class="description")
									| Размеры 600*600, 700*700 мм.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-1")
									span(class="text")
										| СМС
								div(class="options-item d-flex align-items-center")
									div(class="type type-2")
									span(class="text")
										| Спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-4")
									span(class="text")
										| Акваспан
								div(class="options-item d-flex align-items-center")
									div(class="type type-5")
									span(class="text")
										| Медикейс
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-7")
									span(class="text")
										| Ламинированный айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
	include components/about-section.pug
