source/html/contacts.pug
extends base.pug
block content
	include components/breadcrums.pug
	<!-- address-section -->
	<section class="address-section">
		<div class="auto-container">
			<div class="sec-title pb-4">
				h2(class="font-36 mb-5 pb-2")
					b
						| Контактная информация
				<span class="separator" style="background-image: url(images/line.svg);"></span>
			</div>
			<div class="row clearfix">
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Производство</h3>
							<ul class="info-list clearfix">
								<li>
									<i class="icon-placeholder"></i>
									| 456578, Челябинская обл., Еманжелинский р-н,  рп Зауральский, ул. Труда, дом № 1А
								</li>
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Продажи</h3>
							<ul class="info-list clearfix">
								li
									| Андреева Ирина Александровна
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
								li
									| Гальцова Наталья Валерьевна
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 9483</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Электронные торги и гос. контракты</h3>
							<ul class="info-list clearfix">
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Валидация Стерилизация Окисью Этилена</h3>
							<ul class="info-list clearfix">
								li
									| Пьянзин Игорь Сергеевич
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- address-section end -->


	<!-- google-map-section -->
	<section class="google-map-section">
		<div class="map-column">
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2300.398082830096!2d61.229471216061555!3d54.79054697325601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43cf79205eefa223%3A0xfc9312cf2b57a8c6!2z0YPQuy4g0KLRgNGD0LTQsCwgMdCQLCDQl9Cw0YPRgNCw0LvRjNGB0LrQvtC1LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjU5MQ!5e0!3m2!1sru!2sru!4v1614437050960!5m2!1sru!2sru" width="100%" height="479" style="border:0;" allowfullscreen="" loading="lazy")
		</div>
	</section>
	<!-- google-map-section -->


	<!-- contact-section -->
	<section class="contact-section">
		<div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="sec-title">
					<h2 class="font-36 mb-4 pb-2">Форма обратной связи</h2>
					<span class="separator" style="background-image: url(images/line.svg);"></span>
				</div>
				<div class="form-inner">
					<form method="post" action="#" id="contact-form" class="default-form">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="username" placeholder="Ваше имя" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Телефон или e-mail" required>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea name="message" placeholder="Сообщение"></textarea>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-center">
								button(type="submit" class="theme-btn-one theme-btn-one_main")
									| Добавить в заявку
									i(class="icon-arrow-angl-right")
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-section end -->

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end --><!-- address-section -->
<section class="address-section">
<div class="auto-container">
<div class="sec-title pb-4">
        <h2 class="font-36 mb-5 pb-2"><b>Контактная информация</b></h2><span class="separator" style="background-image: url(images/line.svg);"></span>
</div>
<div class="row clearfix">
<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
<div class="single-adderss-block">
<div class="inner-box">
<h3>Производство</h3>
<ul class="info-list clearfix">
<li>
<i class="icon-placeholder"></i>456578, Челябинская обл., Еманжелинский р-н,  рп Зауральский, ул. Труда, дом № 1А</li>
<li>
<i class="icon-phone"></i>
<a href="tel:+73512689099">+7 (351) 268 90 99</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
<div class="single-adderss-block">
<div class="inner-box">
<h3>Продажи</h3>
<ul class="info-list clearfix">
        <li>Андреева Ирина Александровна</li><li>
<i class="icon-phone"></i>
<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
</li>
        <li>Гальцова Наталья Валерьевна</li><li>
<i class="icon-phone"></i>
<a href="tel:+73512689099">+7 (351) 268 90 99 д. 9483</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
<div class="single-adderss-block">
<div class="inner-box">
<h3>Электронные торги и гос. контракты</h3>
<ul class="info-list clearfix">
<li>
<i class="icon-phone"></i>
<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
<div class="single-adderss-block">
<div class="inner-box">
<h3>Валидация Стерилизация Окисью Этилена</h3>
<ul class="info-list clearfix">
        <li>Пьянзин Игорь Сергеевич</li><li>
<i class="icon-phone"></i>
<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- address-section end -->
<!-- google-map-section -->
<section class="google-map-section">
<div class="map-column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2300.398082830096!2d61.229471216061555!3d54.79054697325601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43cf79205eefa223%3A0xfc9312cf2b57a8c6!2z0YPQuy4g0KLRgNGD0LTQsCwgMdCQLCDQl9Cw0YPRgNCw0LvRjNGB0LrQvtC1LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjU5MQ!5e0!3m2!1sru!2sru!4v1614437050960!5m2!1sru!2sru" width="100%" height="479" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
</section>
<!-- google-map-section -->
<!-- contact-section -->
<section class="contact-section">
<div class="auto-container">
<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
<div class="sec-title">
<h2 class="font-36 mb-4 pb-2">Форма обратной связи</h2>
<span class="separator" style="background-image: url(images/line.svg);"></span>
</div>
<div class="form-inner">
<form method="post" action="#" id="contact-form" class="default-form">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="text" name="username" placeholder="Ваше имя" required>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 form-group">
<input type="text" name="phone" placeholder="Телефон или e-mail" required>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group">
<textarea name="message" placeholder="Сообщение"></textarea>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-center">
        <button class="theme-btn-one theme-btn-one_main" type="submit">Добавить в заявку<i class="icon-arrow-angl-right"></i></button></div>
</div>
</form>
</div>
</div>
</div>
</section>
<!-- contact-section end -->
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
