source/html/product.pug
extends base.pug
block content
	include components/breadcrums.pug
	<!-- product-details -->
	<section class="product-details product-details-2 pt-80 pb-45-lg-210">
		<div class="auto-container">
			<div class="product-details-content">
				<div class="row clearfix">
					<div class="col-lg-5 col-md-12 col-sm-12 image-column">
						<figure>
							<img class="lazyload" data-src="images/product.png" alt="img">
						</figure>
					</div>
					<div class="col-lg-7 col-md-12 col-sm-12 content-column">
						<form class="product-info">
							<h2 class="title">Простыни</h2>
							div(class="content pb-4")
								p
									| Доступны любые размеры, возможно наличие технологических особенностей таких как:
								ul
									each item in ["- различные отверстия;", "- U-образный вырез;", "- адгезивный край;", "- прозрачные вставки;"]
										li
											= item
								p
									| а также, дополнительных элементов (карман, отвод, чехол для шнура).
							<div class="size-box">
								<h5>Выберите размер:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" checked="" id="customRadio1" class="custom-control-input">
									<label class="custom-control-label" for="customRadio1">700*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio2" class="custom-control-input">
									<label class="custom-control-label" for="customRadio2">800*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio3" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3">1400*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio4" class="custom-control-input">
									<label class="custom-control-label" for="customRadio4">1400*1000</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio5" class="custom-control-input">
									<label class="custom-control-label" for="customRadio5">2100*1000</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio6" class="custom-control-input">
									<label class="custom-control-label" for="customRadio6">2100*1400</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Выберите тип:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" checked="" id="customRadio7" class="custom-control-input">
									<label class="custom-control-label" for="customRadio7">Общего назначения</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio8" class="custom-control-input">
									<label class="custom-control-label" for="customRadio8">Впитывающая</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio9" class="custom-control-input">
									<label class="custom-control-label" for="customRadio9">Ламинированная</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio10" class="custom-control-input">
									<label class="custom-control-label" for="customRadio10">Впитывающая с ламинированным слоем</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Стерильность:</h5>
								<div class="custom-control custom-radio custom-radio_type">
									<input type="radio" name="customRadio3" checked="" id="customRadio11" class="custom-control-input">
									<label class="custom-control-label" for="customRadio11">стерильные</label>
								</div>
								<div class="custom-control custom-radio custom-radio_type">
									<input type="radio" name="customRadio3"  id="customRadio12" class="custom-control-input">
									<label class="custom-control-label" for="customRadio12">нестерильные</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Штук в упаковке:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4" checked="" id="customRadio13" class="custom-control-input">
									<label class="custom-control-label" for="customRadio13">1шт. / уп.</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4"  id="customRadio14" class="custom-control-input">
									<label class="custom-control-label" for="customRadio14">10шт. / уп.</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4"  id="customRadio15" class="custom-control-input">
									<label class="custom-control-label" for="customRadio15">50шт. / уп.</label>
								</div>
							</div>
							<div class="othre-options clearfix pt-5 d-lg-flex justify-content-end">
								button(type="submit" class="theme-btn-one theme-btn-one_main")
									| Добавить в заявку
									i(class="icon-arrow-angl-right")
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product-details end -->
	include components/about-section.pug

release/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end --><!-- product-details -->
<section class="product-details product-details-2 pt-80 pb-45-lg-210">
<div class="auto-container">
<div class="product-details-content">
<div class="row clearfix">
<div class="col-lg-5 col-md-12 col-sm-12 image-column">
<figure>
<img class="lazyload" data-src="images/product.png" alt="img">
</figure>
</div>
<div class="col-lg-7 col-md-12 col-sm-12 content-column">
<form class="product-info">
<h2 class="title">Простыни</h2>
        <div class="content pb-4">
          <p>Доступны любые размеры, возможно наличие технологических особенностей таких как:</p>
          <ul>
            <li>- различные отверстия;
            </li>
            <li>- U-образный вырез;
            </li>
            <li>- адгезивный край;
            </li>
            <li>- прозрачные вставки;
            </li>
          </ul>
          <p>а также, дополнительных элементов (карман, отвод, чехол для шнура).</p>
        </div><div class="size-box">
<h5>Выберите размер:</h5>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" checked="" id="customRadio1" class="custom-control-input">
<label class="custom-control-label" for="customRadio1">700*700</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" id="customRadio2" class="custom-control-input">
<label class="custom-control-label" for="customRadio2">800*700</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" id="customRadio3" class="custom-control-input">
<label class="custom-control-label" for="customRadio3">1400*700</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" id="customRadio4" class="custom-control-input">
<label class="custom-control-label" for="customRadio4">1400*1000</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" id="customRadio5" class="custom-control-input">
<label class="custom-control-label" for="customRadio5">2100*1000</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio1" id="customRadio6" class="custom-control-input">
<label class="custom-control-label" for="customRadio6">2100*1400</label>
</div>
</div>
<div class="size-box">
<h5>Выберите тип:</h5>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio2" checked="" id="customRadio7" class="custom-control-input">
<label class="custom-control-label" for="customRadio7">Общего назначения</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio2" id="customRadio8" class="custom-control-input">
<label class="custom-control-label" for="customRadio8">Впитывающая</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio2" id="customRadio9" class="custom-control-input">
<label class="custom-control-label" for="customRadio9">Ламинированная</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio2" id="customRadio10" class="custom-control-input">
<label class="custom-control-label" for="customRadio10">Впитывающая с ламинированным слоем</label>
</div>
</div>
<div class="size-box">
<h5>Стерильность:</h5>
<div class="custom-control custom-radio custom-radio_type">
<input type="radio" name="customRadio3" checked="" id="customRadio11" class="custom-control-input">
<label class="custom-control-label" for="customRadio11">стерильные</label>
</div>
<div class="custom-control custom-radio custom-radio_type">
<input type="radio" name="customRadio3"  id="customRadio12" class="custom-control-input">
<label class="custom-control-label" for="customRadio12">нестерильные</label>
</div>
</div>
<div class="size-box">
<h5>Штук в упаковке:</h5>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio4" checked="" id="customRadio13" class="custom-control-input">
<label class="custom-control-label" for="customRadio13">1шт. / уп.</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio4"  id="customRadio14" class="custom-control-input">
<label class="custom-control-label" for="customRadio14">10шт. / уп.</label>
</div>
<div class="custom-control custom-radio custom-radio_block">
<input type="radio" name="customRadio4"  id="customRadio15" class="custom-control-input">
<label class="custom-control-label" for="customRadio15">50шт. / уп.</label>
</div>
</div>
<div class="othre-options clearfix pt-5 d-lg-flex justify-content-end">
        <button class="theme-btn-one theme-btn-one_main" type="submit">Добавить в заявку<i class="icon-arrow-angl-right"></i></button></div>
</form>
</div>
</div>
</div>
</div>
</section>
<!-- product-details end --><!-- chooseus-section -->
<section class="chooseus-section mb-30-lg-160">
<div class="outer-container clearfix">
<div class="content-column">
<div class="inner-column">
<div class="content-box">
<div class="sec-title style-two">
<h2>Преимущества продукции</h2>
<p>Качество продукции для нас превыше всего</p>
<span class="separator" style="background-image: url(images/line.svg);"></span>
</div>
<div class="inner-box">
<div class="row clearfix">
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-column" style="background-image: url(images/about-section.jpg);"></div>
</div>
</section>
<!-- chooseus-section end -->
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
