source/html/service.pug
extends base.pug
block content
	include components/breadcrums.pug

	<!-- service-page-section -->
	section(class="service-page-section")
		div(class="container")
			div(class="row")
				div(class="col-12 mb-lg-5")
					p(class="font-ibm font-18 color-000000 mb-5")
						| ООО «Медицина-Айрлайд» предоставляет услуги стерилизации медицинских термолабильных изделий однократного и многократного использования. Стерилизация осуществляется газовым методом, который не меняет физико-химические свойства материалов и отличается высокой эффективностью.
			div(class="row pb-30-lg-100")
				div(class='col-12 pb-4')
					h2(class="font-ibm font-24 color-000000")
						b
							| Этапы стерилизации
				-let arTitle = ["1. Подготовка", "2. Обработка", "3. Дегазация"]
				each item, index in ["Воздушная обработка (продувка) изделий в условиях изменённой влажности и температуры.", "Стерилизация оксидом этилена.", "Изделия проветриваются для удаления остатков газа."]
					div(class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0")
						h3(class="font-ibm font-18 color-000000 mb-3 pb-1")
							b 
								= arTitle[index]
						p(class="font-ibm font-18 color-000000")
							= item
			div(class="row pb-30-lg-130")
				div(class='col-12 pb-5 mb-4 mb-lg-0')
					h2(class="font-ibm font-24 font-18 color-000000")
						b
							| Преимущества газовой стерилизации
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					img(class="lazyload img-fluid" data-src="images/service.png" alt="img")
				div(class="col-12 col-lg-6")
					p(class="font-ibm font-18 color-000000 mb-4")
						| Преимущества газовой стерилизации <br>По сравнению с высокотемпературными методами, газовая стерилизация занимает больше времени, но является более бережной и надежной.
					p(class="font-ibm font-18 color-000000 mb-4")
						| Основные преимущества:
					p(class="font-ibm font-18 color-000000 mb-4")
						| подходит для обработки 90% медицинских изделий;<br>может применяться для изделий из материалов, чувствительных к высоким температурам и повышенной влажности среды;<br>высокая проникающая способность оксида этилена обеспечивает надежность метода и позволяет обрабатывать изделия сложной формы;<br>абсолютная безопасность для медицинского персонала и пациентов.<br>Высокая эффективность низкотемпературной стерилизации подтверждена клиническими исследованиями. С помощью инструментов, простерилизованных в нашей лаборатории, было проведено более 10 000 операций в различных медицинских учреждениях страны, при этом не было ни одного случая послеоперационных осложнений.
	<!-- service-page-section end -->
	include components/about-section.pug

release/service.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Медицина Айрлайд		</title>
  </head>
  <body>
    <div class="boxed_wrapper"><!-- Preloader -->
<div class="loader-wrap">
<div class="preloader"></div>
<div class="layer layer-one"><span class="overlay"></span></div>
<div class="layer layer-two"><span class="overlay"></span></div>        
<div class="layer layer-three"><span class="overlay"></span></div>        
</div><!-- search-popup -->
<div id="search-popup" class="search-popup">
<div class="close-search">+</div>
<div class="popup-inner">
<div class="overlay-layer"></div>
<div class="search-form">
<form method="post" action="#">
<div class="form-group">
<fieldset>
<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
<input type="submit" value="Искать" class="theme-btn style-four">
</fieldset>
</div>
</form>
<h3>Последние поисковые ключевые слова</h3>
<ul class="recent-searches">
<li><a href="#">Финансы</a></li>
<li><a href="#">Идеи</a></li>
<li><a href="#">Сервис</a></li>
<li><a href="#">План</a></li>
</ul>
</div>
</div>
</div>
<!-- search-popup end --><!-- main header -->
<header class="main-header">
<div class="header-top d-none d-lg-block">
<div class="auto-container">
<div class="top-inner clearfix">
<div class="top-left pull-left">
<ul class="info clearfix">
<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
</ul>
</div>
<div class="top-right pull-right"><a class="phone-block phone-block_header" href="tel:+73512689099"><i class="icon-phone mr-2"></i>+7 (351) 268-90-99</a></div>
</div>
</div>
</div>
<div class="header-lower">
<div class="auto-container">
<div class="outer-box">
<figure class="logo-box">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none"><a class="phone-block phone-block_header" href="tel:+73512689099">+7 (351) 268-90-99</a></div>
      <div class="header-lower-border w-100 d-block d-lg-none"></div><div class="menu-area">
<!--Mobile Navigation Toggler-->
<div class="mobile-nav-toggler">
<i class="icon-bar"></i>
<i class="icon-bar"></i>
<i class="icon-bar"></i>
</div>
<nav class="main-menu navbar-expand-md navbar-light">
<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
<ul class="navigation clearfix">
      <li class="current"><a href="#">Главная</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Услуги</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</nav>
</div>
<ul class="menu-right-content clearfix">
<li>
<div class="search-btn">
<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
</div>
</li>
<li><a href="#"><i class="icon-list"></i></a></li>
<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
</ul>
</div>
</div>
</div>
<!--sticky Header-->
<div class="sticky-header">
<div class="auto-container">
<div class="outer-box clearfix">
<div class="logo-box pull-left">
<figure class="logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
<div class="menu-area pull-right">
<nav class="main-menu clearfix">
<!--Keep This Empty / Menu will come through Javascript-->
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- main-header end --><!-- Mobile Menu  -->
<div class="mobile-menu">
<div class="menu-backdrop"></div>
<div class="close-btn"><span>+</span></div>
<nav class="menu-box">
<div class="nav-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</div>
<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
<div class="contact-info">
<h4>Контакты</h4>
<ul>
<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
</ul>
</div>
</nav>
</div>
<!-- End Mobile Menu -->
      <div class="content"><!-- page-title -->
<section class="page-title centred">
<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
<div class="auto-container">
<div class="content-box">
<h1>Продукция</h1>
<ul class="bread-crumb clearfix">
<li><a href="#">Главная</a></li>
<li>Каталог</li>
</ul>
</div>
</div>
</section>
<!-- page-title end --><!-- service-page-section -->
        <section class="service-page-section">
          <div class="container">
            <div class="row">
              <div class="col-12 mb-lg-5">
                <p class="font-ibm font-18 color-000000 mb-5">ООО «Медицина-Айрлайд» предоставляет услуги стерилизации медицинских термолабильных изделий однократного и многократного использования. Стерилизация осуществляется газовым методом, который не меняет физико-химические свойства материалов и отличается высокой эффективностью.</p>
              </div>
            </div>
            <div class="row pb-30-lg-100">
              <div class="col-12 pb-4">
                <h2 class="font-ibm font-24 color-000000"><b>Этапы стерилизации</b></h2>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <h3 class="font-ibm font-18 color-000000 mb-3 pb-1"><b> 1. Подготовка</b></h3>
                <p class="font-ibm font-18 color-000000">Воздушная обработка (продувка) изделий в условиях изменённой влажности и температуры.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <h3 class="font-ibm font-18 color-000000 mb-3 pb-1"><b> 2. Обработка</b></h3>
                <p class="font-ibm font-18 color-000000">Стерилизация оксидом этилена.
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <h3 class="font-ibm font-18 color-000000 mb-3 pb-1"><b> 3. Дегазация</b></h3>
                <p class="font-ibm font-18 color-000000">Изделия проветриваются для удаления остатков газа.
                </p>
              </div>
            </div>
            <div class="row pb-30-lg-130">
              <div class="col-12 pb-5 mb-4 mb-lg-0">
                <h2 class="font-ibm font-24 font-18 color-000000"><b>Преимущества газовой стерилизации</b></h2>
              </div>
              <div class="col-12 col-lg-6 pb-4 pb-lg-0"><img class="lazyload img-fluid" data-src="images/service.png" alt="img"></div>
              <div class="col-12 col-lg-6">
                <p class="font-ibm font-18 color-000000 mb-4">Преимущества газовой стерилизации <br>По сравнению с высокотемпературными методами, газовая стерилизация занимает больше времени, но является более бережной и надежной.</p>
                <p class="font-ibm font-18 color-000000 mb-4">Основные преимущества:</p>
                <p class="font-ibm font-18 color-000000 mb-4">подходит для обработки 90% медицинских изделий;<br>может применяться для изделий из материалов, чувствительных к высоким температурам и повышенной влажности среды;<br>высокая проникающая способность оксида этилена обеспечивает надежность метода и позволяет обрабатывать изделия сложной формы;<br>абсолютная безопасность для медицинского персонала и пациентов.<br>Высокая эффективность низкотемпературной стерилизации подтверждена клиническими исследованиями. С помощью инструментов, простерилизованных в нашей лаборатории, было проведено более 10 000 операций в различных медицинских учреждениях страны, при этом не было ни одного случая послеоперационных осложнений.</p>
              </div>
            </div>
          </div>
        </section><!-- service-page-section end --><!-- chooseus-section -->
<section class="chooseus-section mb-30-lg-160">
<div class="outer-container clearfix">
<div class="content-column">
<div class="inner-column">
<div class="content-box">
<div class="sec-title style-two">
<h2>Преимущества продукции</h2>
<p>Качество продукции для нас превыше всего</p>
<span class="separator" style="background-image: url(images/line.svg);"></span>
</div>
<div class="inner-box">
<div class="row clearfix">
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 single-column">
<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
<div class="icon-box">
<i class="icon-production"></i>
</div>
<h3>Собственное производство</h3>
<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-column" style="background-image: url(images/about-section.jpg);"></div>
</div>
</section>
<!-- chooseus-section end -->
      </div><!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
<i class="icon-arrow-around-left"></i>
</button><!-- main-footer -->
<footer class="main-footer">
<div class="footer-top">
<div class="auto-container">
<div class="row clearfix">
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
<div class="footer-widget logo-widget">
<figure class="footer-logo">
<a href="#">
<img class="lazyload" data-src="images/logo.png" alt="img">
</a>
</figure>
</div>
      <p class="footer-description">Производство медицинских одноразовых изделий из нетканных материалов</p></div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О компании</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Производство</a></li>
      <li><a href="#">Партнеры</a></li>
      <li><a href="#">Премии</a></li>
      <li><a href="#">Контакты</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>О продукции</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Используемые материалы</a></li>
      <li><a href="#">Функциональные элементы</a></li>
      <li><a href="#">Инструкции</a></li>
      <li><a href="#">Нормативные документы</a></li>
      <li><a href="#">Условия доставки</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 big-column">
<div class="row clearfix">
<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
<div class="footer-widget links-widget">
<div class="widget-title">
<h3>Услуги</h3>
</div>
<div class="widget-content">
<ul class="links-list clearfix">
      <li><a href="#">Стерилизация окисью этилена</a></li>
      <li><a href="#">Валидация процессов стерилизации</a></li>
      <li><a href="#">Валидация процессов упаковывания</a></li></ul>
</div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
<div class="footer-widget newsletter-widget">
<div class="widget-title">
<h3>Контакты</h3>
</div>
<ul class="info-list clearfix">
<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
<li class="adres d-flex align-items-start">
<i class="icon-placeholder mr-3"></i>
<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
<div class="copyright pull-left">
<p><a href="#">2020 | Политика конфиденциальности</a></p>
</div>
      <div class="pull-right"><a href="https://deksis.ru/">Разработка сайта<img class="lazyload ml-2" data-src="images/deksis.png" alt="img"></a></div></div>
</div>
</footer>
<!-- main-footer end -->
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
